<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-normal">Gifs & Stickers</h1>
        <p class="lead fw-normal">
            Este Proyecto Final muestra los gifs y stickers más requeridos por los usuarios, tomados del servidor que pertenece a la página web <a href="https://giphy.com
            ">giphy.com</a>, con el fin de utilizar una API dentro de un trabajo realizado con Angular y sus respectivas herramientas.
        </p>
        <p>
          <a [routerLink]="['gifs']" class="bckclr btn my-2">Sección de Gifs</a>
          <a [routerLink]="['stikers']" class="bckclr btn my-2 mx-2">Sección de Stickers</a>
        </p>
      </div>
    </div>
</section>
